.text-size12px{
    font-size: 12px;
  }
  .text-size14px{
    font-size: 14px;
  }
  .text-size16px{
    font-size: 16px;
  }
  .float-right {
    float: right;
  }
  .item-color {
    color: #848487;
  }